@import './palette.scss';
/* Color */

$background: linear-gradient(#4b6cb7, #182848);
$color-chatbox: #9bbbd4;

#root {
  height: 100vh;
  position: relative;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Jua', Arial, Helvetica, sans-serif;

  @media screen and (max-width: 900px) {
    height: 100%;
  }
}

.record-image {
  height: 200px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  opacity: 0.3;
  z-index: 0;
}

.body {
  position: relative;
  width: 100vw;
  height: calc(90% - 130px - 1rem);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  width: 80%;
  height: 130px;
  padding: 0 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: $semi-white;
  color: $purple;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  button {
    font: inherit;
  }

  @media screen and (max-width: 1300px) {
    padding: 0;
  }

  @media screen and (max-width: 900px) {
    height: 100%;
    border-radius: 40px;
    padding: 0;
    justify-content: center;
  }

  .header-left-wrap {
    display: flex;
    align-items: center;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      padding-top: 100px;
    }
  }

  .header-logo {
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .header-search {
    @media screen and (max-width: 900px) {
      position: absolute;
      top: 1.5rem;
    }
  }

  .header-right-wrap {
    display: flex;
    align-items: center;
  }

  &-search {
    display: flex;
    align-items: center;

    * + * {
      margin-left: 0.5rem;
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }

  &-search-input {
    width: 250px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    outline: none;
    background: transparent;
    border: 4px solid $purple;
    padding: 0.4rem;
    box-sizing: border-box;
  }

  .menu {
    @media screen and (max-width: 900px) {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;

      .menu-line {
        height: 3px;
        width: 20px;
        background-color: $purple;
        margin: 3px 0px;
      }
    }
  }
}

@mixin scrollbar($color: $white) {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera*/
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: $color;
    border-radius: 10px;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3);
}
