@import 'https://fonts.googleapis.com/css2?family=Jua&display=swap';

/* Color */
$white: #fff;
$semi-white: #f9f9f9;
$pink: #f7dbf0;
$purple: #beaee2;
$lightgreen: #cdf0ea;
$black: #000;
$semi-black: #1e2222;

$background: linear-gradient(#4b6cb7, #182848);
$color-chatbox: #9bbbd4;

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Jua', Arial, Helvetica, sans-serif;
}

.record-image {
  height: 200px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  opacity: 0.3;
  z-index: 0;
}

.body {
  // background: $background;
  position: relative;
  width: 100vw;
  height: calc(90% - 130px - 1rem);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  width: 80%;
  height: 130px;
  padding: 0 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: $semi-white;
  color: $purple;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  button {
    font: inherit;
  }

  .header-left-wrap {
    display: flex;
    align-items: center;
  }

  .header-logo {
    position: absolute;
    top: -35px; // (logo 크기 200px - height 130px) / 2
    left: calc(50% - 100px);
    z-index: 1;
    cursor: pointer;
  }

  &-search {
    display: flex;
    align-items: center;

    * + * {
      margin-left: 0.5rem;
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }

  &-search-input {
    width: 250px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    outline: none;
    background: transparent;
    border: 4px solid $purple;
    padding: 0.4rem;
    box-sizing: border-box;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3);
}
