/* Color */
$white: #fff;
$black: #000;
$title-active: #1e2222;
$background: linear-gradient(#4b6cb7, #182848);
$color-chatbox:	#9bbbd4;

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

.header {
  width: 100vw;
  height: 40px;
  padding: 0 4rem;
  box-sizing: border-box;
  border-bottom: 4px solid $white;
  background: #4b6cb7;
  display: flex;
  justify-content: space-between;

  &-search {
    display: flex;
    align-items: center;

    * + * {
      margin-left: 0.5rem;
    }

    img {
      cursor: pointer;
    }
  }

  &-search-input {
    font-weight: 700;
    outline: none;
    background: transparent;
    border: 2px solid $white;
    padding: 0.4rem;
    box-sizing: border-box;
    color: $white;


  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
};
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.7);
};
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
};