@import './global.scss';

.ssd {
  background: $background;
  width: 100vw;
  height: 100vh;
}

.roomList {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  .room {
    color: orange;
    padding-bottom: 50px;
  }
}
