@import './global.scss';

.main-wrap {
  width: 80%;
  height: 100%;
  background-color: $semi-white;
  color: $purple;
  // border: 4px double $white;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: start;
  }

  .room-empty-notice {
    color: $purple;
    font-size: 4rem;
    font-style: italic;
  }
}

.roomList {
  width: 100%;
  height: 90%;
  padding: 2rem;
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  * + * {
    margin-left: 1rem;
    // margin-bottom: 0.5rem;
  }

  .room {
    display: inline-block;
    width: 25%;
    border: 4px solid $purple;
    border-radius: 1rem;
    color: $purple;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      background-color: $purple;
      color: $semi-white;
    }

    p {
      display: inline-block;
    }

    p + p {
      margin-top: 1rem;
    }

    .room-name {
      font-size: 1.5rem;
      text-align: center;
    }

    .room-descripton {
      font-size: 0.875rem;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.dark-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 20rem;
  height: 25rem;
  background-color: $white;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  *:nth-child(n) {
    margin-bottom: 1rem;
  }

  input {
    padding: 0.5rem;
    border: 1px solid $black;
    border-radius: 0.5rem;
  }

  textarea {
    padding: 0.5rem;
    border: 1px solid $black;
    border-radius: 0.5rem;
  }

  .input-wrap {
    display: flex;
    flex-direction: column;
  }

  .button-wrap {
    display: flex;
    justify-content: center;
  }
}

.button {
  min-width: fit-content;
  max-width: fit-content;
  height: 50px;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  color: gray;
  background-color: $white;
  font-weight: 700;
  border: 4px solid gray;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.room-wrap {
  width: 80%;
  height: 100%;
  background-color: $semi-white;
  color: $purple;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}