$white: #fff;
$semi-white: #f9f9f9;
$pink: #f7dbf0;
$purple: #beaee2;
$lightgreen: #cdf0ea;
$black: #000;
$semi-black: #1e2222;

$background: linear-gradient(#4b6cb7, #182848);
$color-chatbox: #9bbbd4;