@import "../stylesheet/global.scss";


.App{
}
.msgBallon{
    overflow: hidden;
    // float: left;
    .othersChat{
        float: left;
        margin-block-start: 0em;
        margin-block-end: 5px;
        margin-left: 10px;
        background-color: white;
    }
    .myChat{
        float: right;
        margin-block-start: 0em;
        margin-block-end: 5px;
        margin-right: 10px;
        background-color: #FEE500;
    }
    
    
}


.myMsgBallon{
    margin-top: 5px;
    // float: right;
}

.chatBox{
    overflow: auto;
    background-color: $color-chatbox;
    margin-left: 50px;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    .chatList{
        height: 450px;
        width: 500px;
    }

    .chatInputSquare{
        background-color: white;
        margin-top: 5px;

        display: flex;
        z-index: 3;
        border-radius: 4px;
        height: 40px;
        .chatInput{
            margin-top: 5px;
            width: 430px;
            height: 30px;
            border: none;
        }
        button{
            margin-left: 10px;
            height: 40px;
            width:55px;
            display: hidden;
            border: none;
            border-radius: 4px;
            background-color: #FEE500;
            &:active{
                background-color: darken($color: #FEE500, $amount: 10);
            }
        }
        
    }
    
}

